<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% if page.title != '' %}{{page.title}} | {{site.author}}
        {% else %}{{site.author}}{% endif %}</title>
    <meta name="author" content="Ben Fradet"/>
    <meta name="keywords" content="programming, coding"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    type="text/css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/pygments/default.css" type="text/css"/>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2KRXBR');</script>
    <!-- End Google Tag Manager -->
    <script>
      window.ga = window.ga || function() {
        (window.ga.q = window.ga.q || []).push(arguments)
      }
      ga('create', 'UA-50831669-1', 'benfradet.github.io');
      ga('require', 'spGaPlugin', { endpoint: 'http://ec2-52-211-182-67.eu-west-1.compute.amazonaws.com:1234' });
      ga('send', 'pageview');
    </script>
    <script async src="https://d1fc8wv8zag5ca.cloudfront.net/sp-ga-plugin/0.1.0-rc2/sp-ga-plugin.js"></script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2KRXBR"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{content}}
</body>
</html>
