---
layout: default
---
<div class="container">
    <header>
        <h1><a href="/">{{site.title}}</a></h1>
    </header>
    <div id="excerpts">
        {{content}}
    </div>

    <div id="about">
        <p>I'm a computer science student studying data mining and data science. I love skiing and snowboarding. I'm currently living in Compiegne, France.</p><br/>
        <p>Here is my <a href="/resume">resume</a></p>
        <div id="icon-h">
            <div><a href="https://github.com/BenFradet" class="fa fa-github-alt fa-3x"></a></div>
            <div><a href="https://twitter.com/BenjaminFradet" class="fa fa-twitter fa-3x"></a></div>
            <div><a href="https://www.linkedin.com/in/benfradet" class="fa fa-linkedin fa-3x"></a></div>
        </div>
    </div>
</div>
