---
layout: default
---
<div class="container">
    <header>
        <h1><a href="/">{{site.title}}</a></h1>
    </header>
    <div id="excerpts">
        {{content}}
    </div>

    <div id="about">
        <p>I'm a software engineer at <a href="https://www.47deg.com/">47 Degrees</a>. I like FP, snowboarding, SC2, cycling and running. I live in the South of France.</p><br>
        <div id="icon-h">
            <div><a href="https://github.com/BenFradet" class="fa fa-github-alt fa-3x"></a></div>
            <div><a href="https://twitter.com/fradetben" class="fa fa-twitter fa-3x"></a></div>
            <div><a href="https://www.linkedin.com/in/benfradet" class="fa fa-linkedin fa-3x"></a></div>
        </div>
    </div>
</div>
